<li>
	{{burger_name}}

	<button class="devoured" data-id="{{id}}" data-devoured="{{tobedevoured}}">
		{{#if tobedevoured}}EAT{{else}}FULL!{{/if}}
	</button>

	<button class="delete_burger" data-id="{{this.id}}">DELETE!</button>
</li>
